div.button{
    width: auto; height:auto;

    margin:auto;
    width:20%;
    float:left;
    position:  absolute;
    top:40%;
}
div.button input{
    width: auto; height:auto;
    padding:5px;
    width:100%;
    font-size:18px;
}

.rect{
    float:left;
    background-color: blue;
    border: 3px solid black;

}
#topMenu {
    width: auto; height:auto;
    height: 10%;
    width: 100%;
    float: right;
} 
#topMenu ul li {
        list-style: none;
    color: black;
    background-color: white;
    float: left;
    line-height: 50px; 
    vertical-align: middle;
    text-align: center;
    border: 3px solid black;
} 

#topMenu .menuLink:hover {
    color: black;
    background-color: #4d4d4d;
} 



