<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linc+</title>
    <link href="../example/나눔고딕폰트.css" rel="stylesheet">
    <link href="../Stylesheets/style.css" rel="stylesheet">

</head>

<body>

    <h1>레시피 등록</h1>
    <style>
        #topMenu .menuLink {
            width: auto; height:auto;
            text-decoration:none;
            color: black; 
            display: block;
            width: 450px;
            font-size: 15px;
            font-weight: bold;
 
        }         
    </style>
        <nav id="topMenu">
                <ul>
                    <li><a class="menuLink" href="../templates/Enrollment.html">등록</a></li>
                    <li><a class="menuLink" href="../templates/purchase.html">구매</a></li>
                    <li><a class="menuLink" href="../templates/question.html">문의</a></li>
                </ul>
        </nav>
        <br>

<fieldset>
    <legend>POST METHOD REQUEST Data with File</legend>
    <form action="postDataWithFile.php" method="post" enctype="multipart/form-data">
        <p>
            <label>Name : </label>
            <input type="text" name="name">
        </p>

        <p>
            <label>Message : </label>
            <input type="text" name="msg" style="text-align:center; width:200px; height:50px; letter-spacing: -5px">
        </p>

        <p>
            <label>Image File : </label>
            <input type="file" name="upload">
        </p>

        <p>
            <input type="submit" value="submit">
            <input type="reset" value="cancel">
        </p>
    </form>
</fieldset>





</body>
</html>