<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linc+</title>
    <link href="../example/나눔고딕폰트.css" rel="stylesheet">
    <link href="../Stylesheets/style.css" rel="stylesheet">

</head>

<body>
    <style>
        #topMenu .menuLink {
            width: auto; height:auto;
            text-decoration:none;
            color: black; 
            display: block;
            width: 450px;
            font-size: 15px;
            font-weight: bold;
 
        }         
    </style>
    <div id="topMenu">
        <div id="title">등록페이지</div>
        <nav>
            <ul>
                <li><a class="menuLink" href="../templates/Enrollment.html">등록</a></li>
                <li><a class="menuLink" href="../templates/purchase.html">구매</a></li>
                <li><a class="menuLink" href="../templates/manage.html">문의</a></li>
            </ul>
        </nav>
    </div>

<fieldset>
    <legend>메뉴 올리기</legend>
    <form action="postDataWithFile.php" method="post" enctype="multipart/form-data">
        <p>
            <label>이름 : </label>
            <input type="text" name="name">
        </p>

        <p>
            <label>내용 : </label>
            <input id="content" type="text" name="msg" style="text-align:center; width:200px; height:50px; letter-spacing: -5px">
        </p>

        <p>
            <label>이미지 파일 : </label>
            <input type="file" name="upload">
        </p>

        <p>
            <button class="on" onClick="printName()">제출함</button>
            <input type="reset" value="cancel">
        </p>
    </form>
</fieldset>





</body>
</html>