<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linc+</title>
    <link href="Fonts/NanumGothic.ttf" rel="stylesheet">
    <link href="Stylesheets/" rel="stylesheet">

</head>

<body>
    <style>
        #topMenu .menuLink {
            width: auto; height:auto;
            text-decoration:none;
            color: black; 
            display: block;
            width: 450px;
            font-size: 15px;
            font-weight: bold;
 
        }         
    </style>
    <div id="topMenu">
        <div id="title">market</div>
        <nav>
            <ul>
                <li><a class="menuLink" href="templates/Enrollment.html">등록</a></li>
                <li><a class="menuLink" href="templates/purchase.html">구매</a></li>
                <li><a class="menuLink" href="templates/manage.html">문의</a></li>
            </ul>
        </nav>
    </div>

    <div id="food_page">
        <img src="Images/오늘의 팔도, 전복.jpg" alt="전복요리" width="30%" align="left">
        <h2>버터 전복 구이</h2>
        <br>
        <h2>50000원</h2>
        <p>이 전복 구이는 ~~에서 요리했습니다. 4대 대대로 내려오는 레시피로...</p>

        <button class="on" onClick="location.href='purchase.html'"> 구매</button>
    </div>
    

</body>
</html>