<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linc+</title>
    <link href="../example/나눔고딕폰트.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">

</head>

<body>
    <fieldset>
        <legend>Load Data</legend>
        <form action="loadDataFromDB.php" method="post" enctype="multipart/form-data">
            <input type="submit" value="load">
            
        </form>
    </fieldset>

</body>
</html>